<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
        <li><%= link_to "Por Qué", root_path(anchor: "what"), class: "scroll" %></li>
        <li><%= link_to "Quiénes", root_path(anchor: "team"), class: "scroll" %></li>
        <li><%= link_to "Cómo", root_path(anchor: "features"), class: "scroll" %></li>
        <li><%= link_to "Qué", root_path(anchor: "solutions"), class: "scroll" %></li>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<section id="intro" class="centered bg-blue top">
  <div class="container innovatigo">
    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <%= image_tag "tigo.png", class: "img-responsive center-block tigo" %>
      </div>
      <div class="col-md-9 col-sm-12 col-xs-12">
        <h1>Innovation<span class="team"> team</span></h1>
        <h3 class="ufm">Michael Polanyi College at UFM</h3>
      </div>
    </div>
  </div> <!-- /container -->
</section> <!-- /intro -->

<section id="what">
  <div class="container centered">
      <div class="col-lg-12">
          <h2 class="grow">Tigo necesita un equipo de innovación</h2>
      </div>  
      <div>
          <p>El MPC es un programa exclusivo compuesto por líderes innovadores.<BR>Afrontamos los retos de la economía creativa gracias a nuestra diversidad y capacidad de compromiso a largo plazo. Nuestro modelo de aprendizaje, único en la UFM, facilita la creación de TIGO INNOVATION TEAM.</p>
      </div>
    </div>
  </div> <!-- /container -->
</section> <!-- /what -->

<div class="line"></div>

<section id="team">
  <div class="container" id="centered">
    <h2>Conócenos</h2>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <%= link_to (image_tag "team/pablo.jpg", class: "img-responsive center-block teammate"), "#pablo", class: "popup-with-zoom-anim"%>
            <h3>Pablo Velásquez</h3>
            <p class="rol">Economía & Emprendimiento Social</p>
              <!-- <div id="pablo" class="zoom-anim-dialog mfp-hide small-dialog">
                <h3>Pablo Velásquez</h3>
                <p class="rol">Sean Duffy is an educator and EdTech leader who is passionate about helping to make meaningful change in education through technology. In addition to his work with EdTech Action, Sean is also the founder of EdTech Austin and the lead Organizer for Startup Weekend Education - Austin. Currently, Sean is an Assessment Specialist and Startup teammate/Advisor for Pearson Catalyst for Education.</p>
              </div> -->
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <%= link_to (image_tag "team/ignacio.jpg", class: "img-responsive center-block teammate"), "#ignacio", class: "popup-with-zoom-anim"%>
            <h3>Ignacio Galindo</h3>
            <p class="rol">Diseño & Desarrollo Web</p>
              <!-- <div id="ignacio" class="zoom-anim-dialog mfp-hide small-dialog">
                <h3>Sean Duffy</h3>
                <p class="rol">Sean Duffy is an educator and EdTech leader who is passionate about helping to make meaningful change in education through technology. In addition to his work with EdTech Action, Sean is also the founder of EdTech Austin and the lead Organizer for Startup Weekend Education - Austin. Currently, Sean is an Assessment Specialist and Startup teammate/Advisor for Pearson Catalyst for Education.</p> --> 
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <%= link_to (image_tag "team/valerie.jpg", class: "img-responsive center-block teammate"), "#valerie", class: "popup-with-zoom-anim"%>
            <h3>Valerie Andrews</h3>
            <p class="rol">Artes Escénicas</p>
              <!-- <div id="valerie" class="zoom-anim-dialog mfp-hide small-dialog">
                <h3>Sean Duffy</h3>
                <p class="rol">Sean Duffy is an educator and EdTech leader who is passionate about helping to make meaningful change in education through technology. In addition to his work with EdTech Action, Sean is also the founder of EdTech Austin and the lead Organizer for Startup Weekend Education - Austin. Currently, Sean is an Assessment Specialist and Startup teammate/Advisor for Pearson Catalyst for Education.</p> -->
          </div> 
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <%= link_to (image_tag "team/isabela.jpg", class: "img-responsive center-block teammate"), "#isabela", class: "popup-with-zoom-anim"%>
            <h3>Isabela Sagastuy</h3>
            <p class="rol">Fashion & Producción de Eventos</p>
              <!-- <div id="isabela" class="zoom-anim-dialog mfp-hide small-dialog">
                <h3>Isabela Sagastuy</h3>
                <p class="rol">Sean Duffy is an educator and EdTech leader who is passionate about helping to make meaningful change in education through technology. In addition to his work with EdTech Action, Sean is also the founder of EdTech Austin and the lead Organizer for Startup Weekend Education - Austin. Currently, Sean is an Assessment Specialist and Startup teammate/Advisor for Pearson Catalyst for Education.</p> --> 
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <%= link_to (image_tag "team/chantal.jpg", class: "img-responsive center-block teammate"), "#chantal", class: "popup-with-zoom-anim"%>
            <h3>Chantal Soldini</h3>
            <p class="rol">Relaciones Públicas</p>
              <!-- <div id="chantal" class="zoom-anim-dialog mfp-hide small-dialog">
                <h3>Chantal Soldini</h3>
                <p class="rol">Sean Duffy is an educator and EdTech leader who is passionate about helping to make meaningful change in education through technology. In addition to his work with EdTech Action, Sean is also the founder of EdTech Austin and the lead Organizer for Startup Weekend Education - Austin. Currently, Sean is an Assessment Specialist and Startup teammate/Advisor for Pearson Catalyst for Education.</p> -->
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <%= link_to (image_tag "team/majo.jpg", class: "img-responsive center-block teammate"), "#majo", class: "popup-with-zoom-anim"%>
            <h3>Majo Crespo</h3>
            <p class="rol">Branding & Diseño</p>
              <!-- <div id=#majo" class="zoom-anim-dialog mfp-hide small-dialog">
                <h3>Majo Crespo</h3>
                <p class="rol">Sean Duffy is an educator and EdTech leader who is passionate about helping to make meaningful change in education through technology. In addition to his work with EdTech Action, Sean is also the founder of EdTech Austin and the lead Organizer for Startup Weekend Education - Austin. Currently, Sean is an Assessment Specialist and Startup teammate/Advisor for Pearson Catalyst for Education.</p> --> 
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <%= link_to (image_tag "team/nataly.jpg", class: "img-responsive center-block teammate"), "#nataly", class: "popup-with-zoom-anim"%>
            <h3>Nataly Basterrechea</h3>
            <p class="rol">Fotografía & Arte</p>
              <!-- <div id="nataly" class="zoom-anim-dialog mfp-hide small-dialog">
                <h3>Nataly Basterrechea</h3>
                <p class="rol">Sean Duffy is an educator and EdTech leader who is passionate about helping to make meaningful change in education through technology. In addition to his work with EdTech Action, Sean is also the founder of EdTech Austin and the lead Organizer for Startup Weekend Education - Austin. Currently, Sean is an Assessment Specialist and Startup teammate/Advisor for Pearson Catalyst for Education.</p> --> 
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <%= link_to (image_tag "team/lorena.jpg", class: "img-responsive center-block teammate"), "#lorena", class: "popup-with-zoom-anim"%>
            <h3>Lorena Palmieri</h3>
            <p class="rol">Emprendimiento Social</p>
              <!-- <div id="lorena" class="zoom-anim-dialog mfp-hide small-dialog">
                <h3>Lorena Palmieri</h3>
                <p class="rol">Sean Duffy is an educator and EdTech leader who is passionate about helping to make meaningful change in education through technology. In addition to his work with EdTech Action, Sean is also the founder of EdTech Austin and the lead Organizer for Startup Weekend Education - Austin. Currently, Sean is an Assessment Specialist and Startup teammate/Advisor for Pearson Catalyst for Education.</p> --> 
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <%= link_to (image_tag "team/javier.jpg", class: "img-responsive center-block teammate"), "#javier", class: "popup-with-zoom-anim"%>
            <h3>Javier Parellada</h3>
            <p class="rol">Producción de Cine</p>
              <!-- <div id="javier" class="zoom-anim-dialog mfp-hide small-dialog">
                <h3>Javier Parellada</h3>
                <p class="rol">Sean Duffy is an educator and EdTech leader who is passionate about helping to make meaningful change in education through technology. In addition to his work with EdTech Action, Sean is also the founder of EdTech Austin and the lead Organizer for Startup Weekend Education - Austin. Currently, Sean is an Assessment Specialist and Startup teammate/Advisor for Pearson Catalyst for Education.</p> -->
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <%= link_to (image_tag "team/isa.jpg", class: "img-responsive center-block teammate"), "#isa", class: "popup-with-zoom-anim"%>
            <h3>Isa Moino</h3>
            <p class="rol">Comunicación & Educación</p>
              <!-- <div id="isa" class="zoom-anim-dialog mfp-hide small-dialog">
                <h3>Isa Moino</h3>
                <p class="rol">Sean Duffy is an educator and EdTech leader who is passionate about helping to make meaningful change in education through technology. In addition to his work with EdTech Action, Sean is also the founder of EdTech Austin and the lead Organizer for Startup Weekend Education - Austin. Currently, Sean is an Assessment Specialist and Startup teammate/Advisor for Pearson Catalyst for Education.</p> --> 
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <%= link_to (image_tag "team/carmen.jpg", class: "img-responsive center-block teammate"), "#carmen", class: "popup-with-zoom-anim"%>
            <h3>Carmen Rodriguez</h3>
            <p class="rol">Educación</p>
              <!-- <div id="carmen" class="zoom-anim-dialog mfp-hide small-dialog">
                <h3>Carmen Rodriguez</h3>
                <p class="rol">Sean Duffy is an educator and EdTech leader who is passionate about helping to make meaningful change in education through technology. In addition to his work with EdTech Action, Sean is also the founder of EdTech Austin and the lead Organizer for Startup Weekend Education - Austin. Currently, Sean is an Assessment Specialist and Startup teammate/Advisor for Pearson Catalyst for Education.</p> --> 
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <%= link_to (image_tag "team/marcela.jpg", class: "img-responsive center-block teammate"), "#marcela", class: "popup-with-zoom-anim"%>
            <h3>Marcela Richardson</h3>
            <p class="rol">Desarrollo Humano</p>
              <!-- <div id="marcela" class="zoom-anim-dialog mfp-hide small-dialog">
                <h3>Marcela Richardson</h3>
                <p class="rol">Sean Duffy is an educator and EdTech leader who is passionate about helping to make meaningful change in education through technology. In addition to his work with EdTech Action, Sean is also the founder of EdTech Austin and the lead Organizer for Startup Weekend Education - Austin. Currently, Sean is an Assessment Specialist and Startup teammate/Advisor for Pearson Catalyst for Education.</p> -->
          </div>
        </div>

      </div> <!-- /col -->
  </div> <!-- /container -->
</section> <!-- /portfolio -->

<div class="line"></div>

<section id="features">
  <div class="container diferencias centered">
    <h2>Lo Que Nos Hace Diferentes</h2>
        <div class="row">
          <div class="col-md-4 col-sm-12 col-xs-12">
            <%= image_tag "metodo.png", class: "img-responsive center-block cualidad" %>
            <h5>Resolución de Problemas</h5>
            <ul>
              <li><p class="inciso">Facilitadores de Unconference</p></li>
              <li><p class="inciso">Design Thinking</p></li>
              <li><p class="inciso">Investigación de Campo</p></li>
              <li><p class="inciso">Diálogos Socráticos</p></li>
              <li><p class="inciso">Enfoque Emprendedor</p></li>
            </ul>
          </div>

          <div class="col-md-4 col-sm-12 col-xs-12">
            <%= image_tag "diseno.png", class: "img-responsive center-block cualidad" %>
            <h5>Diseño & Desarrollo Web</h5>
            <ul>
              <li><p class="inciso">Diseño Gráfico</p></li>
              <li><p class="inciso">Programación</p></li>
              <li><p class="inciso">Redes Sociales</p></li>
              <li><p class="inciso">Interface de Usuario</p></li>
              <li><p class="inciso">Branding</p></li>
            </ul>
          </div>

          <div class="col-md-4 col-sm-12 col-xs-12">
            <%= image_tag "cultura.png", class: "img-responsive center-block cualidad" %>
            <h5>Cultura de Diversidad</h5>
            <ul>
              <li><p class="inciso">Comunidad Colaborativa </p></li>
              <li><p class="inciso">Multi-lingüe</p></li>
              <li><p class="inciso">Red de Contactos Internacionales</p></li>
              <li><p class="inciso">Espacio de Co-working</p></li>
              <li><p class="inciso">Experiencias en Diferentes Campos</p></li>
            </ul>
          </div>
        </div>
      </div> <!-- /col -->
  </div> <!-- /container -->
</section> <!-- /portfolio -->

<section id="solutions" class="bg-grey">
  <div class="container">

    <h2>Problemas A Resolver</h2>

    <div class="col-md-4 col-sm-12">
      <div class="box">
        <%= image_tag "educacion.jpg" %>
        <div class="box-content">
          <h3>Educación</h3>
          <p>Programas de educación de bajo costo utilizando la tecnología TIGO.</p>
        </div>
      </div> <!-- /box -->
    </div> <!-- /col -->
    <div class="col-md-4 col-sm-12">
      <div class="box">
        <%= image_tag "seguridad.jpg" %>
        <div class="box-content">
          <h3>Seguridad</h3>
          <p>Resolver los problemas de seguridad y confianza con la tecnología TIGO.</p>
        </div>
      </div> <!-- /box -->
    </div> <!-- /col -->
    <div class="col-md-4 col-sm-12">
      <div class="box">
        <%= image_tag "innovacion.jpg" %>
        <div class="box-content">
          <h3>Innovación</h3>
          <p>Traer a Guatemala el proyecto de innovación social de Millicom.</p>
        </div>
      </div> <!-- /box -->
    </div> <!-- /col -->

  </div> <!-- /container -->
</section>

<section id="take-action" class='bg-purple contact'>
  <div class="container innovamos">
    <div class="row">
      <h1 class="innovamos">¿Innovamos?</h1>
    </div>  
  </div> <!-- /container -->
</section>

<footer>
  <div class="container centered">
    <p class="copyright">© 2015 Michael Polanyi College at UFM</p>
  </div>
</footer>
